/* .ember-application {
  height: 100vh;
}

.ember-application>.ember-view {
  height: 100%;
} */
.fb-logo {
  width: auto;
  height: 2.5rem;
}

.navbar {
  border-bottom: 1px solid;
}

.navbar-brand-text {
  color: black;
  font-size: 1.4rem;
  border-left: black 1px dotted;
  padding-left: 0.25rem;
}

/* .bg-lighter {
  background-color: #e0e0e0 !important;
}

.bg-light {
  background-color: #b0b0b0 !important;
} */
.page-title {
  border-bottom: 1px solid #eee;
}

.sep {
  height: 20px;
  width: 1px;
  background-color: #ccc;
  display: inline-block
}

.blog-content {
  font-size: 1.125rem;
  white-space: pre-wrap;
}

.blog-content-sample {
  font-size: 1.125rem;
  max-height: 5rem;
  overflow: hidden;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  /*max-width: 400px;*/
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
