/* .ember-application {
  height: 100vh;
}

.ember-application>.ember-view {
  height: 100%;
} */

.fb-logo {
  width: auto;
  height: 2.5rem;
}

.navbar {
  border-bottom: 1px solid;
}

.navbar-brand-text {
  color: black;
  font-size: 1.4rem;
  border-left: black 1px dotted;
  padding-left: 0.25rem;
}

/* .bg-lighter {
  background-color: #e0e0e0 !important;
}

.bg-light {
  background-color: #b0b0b0 !important;
} */

.page-title {
  border-bottom: 1px solid #eee;
}
