<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'application' class="navbar-brand"}}
    <img src="/safari-pinned-tab.svg?v=YAobjv3gzR" class="fb-logo">
    <span class="navbar-brand-text">Broodings...</span>
  {{/link-to}}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#link-to 'application' tagName="li" class="nav-item" bubbles=false}}
        {{#link-to 'application' class="nav-link"}}Home{{/link-to}}
      {{/link-to}}
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron h-100 bg-lighter">
  <h1 class="display-4">Uh, Oh!</h1>
  <p class="lead">So...I wasn't really expecting anyone here just yet.</p>
  <hr class="my-4">
  <p>Do check back later, though. You never know.</p>
</div>
{{outlet}}
