<h3 id="about" class="page-title p-1">About</h3>
<div class="m-2">
  {{!--<h4 id="me">Me</h4>
  <p>I'm a twenty-something, pseudo under-graduate, above average sized cog in a corporate machine.</p>
  <p>Also a workaholic who was bored during his days off and saw the need to do something else. Hence this blog.</p>--}}
  <h4 id="the-blog">The Blog</h4>
  <p>While I'll try to shine a ray of sunlight when possible, the title should give you a pretty good idea as to the general tone of the blog.</p>
  <p>This blog is as much an exercise in webapp development and social psychology as it is in blogging.</p>
  <p>For the technically inclined : <a href="https://github.com/grrakesh4769/firebase-broodings" target="_blank" rel="noopener">Broodings</a></p>
  <p>Any comments/suggestions are mostly welcome.</p>
</div>
{{outlet}}
